.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 2rem;
}
a {
  text-decoration: none;
  color: inherit;
}

.signup-link {
  font-weight: 400;
  padding: 0 3px;
  color: #1995f6;
}
.footerList {
  display: flex;
}

.footerList li {
  font-size: 12px;
  font-weight: bold;
  color: #004689;
  margin-right: 15px;
  cursor: pointer;
}

.left-side-mobile {
  background-image: url(../images/background.png);
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top right;
}

.boldText {
  font-weight: bold;
  cursor: pointer;
}
.marginLeft {
  margin-left: 25px;
}
.sideFooter {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
}
.sideFooter a {
  color: #dbdbdb;
  font-size: 11px;
  position: relative;
  margin-right: 10px;
}
.sideFooter a::after {
  content: '.';
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  top: -7px;
  right: -6px;
}
.sideFooter a:last-child::after {
  content: '';
  position: absolute;
}
.story::-webkit-scrollbar {
  // width: 10px;
  display: none;
}

.story::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.story::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.story::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 56, 58);
}
